:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-inter);
  transition:
    background 0.2s ease,
    color 0.2s ease;

  overflow-x: hidden;
}

:root {
  --color-bg: #f8f9fa;
  --color-white: #ffffff;

  --color-secondary-highlight: #c026d3;

  --color-primary: #7c3aed;
  --color-primary-dark: #6d28d9;

  --color-primary-light: #6554e1;

  --color-bg-card: #cacfe7;
  --color-icon-detail: #ede9fe;
  --color-detail: #b0b7d1;

  --color-text: #020617;
  --color-text-secondary: #94a3b8;

  --color-info: #38bdf8;
  --color-success: #22c55e;

  --color-disabled: #bdbdbd;

  --color-accent: #3f54cc;

  --color-error: #dc2626;
  --color-error-bg: #fee2e2;
}

.dark {
  --color-bg: #020617;
  --color-bg-card: #3730a3;

  --color-primary: #7c3aed;
  --color-primary-dark: #6d28d9;

  --color-text: #f8f9fa;
  --color-text-secondary: #94a3b8;

  --color-info: #38bdf8;
  --color-success: #22c55e;

  --color-disabled: #9e9e9e;

  --color-accent: #3f54cc;
  --color-error: #dc2626;
  --color-error-bg: #fee2e2;
}
// Breakpoints
$xl: 1440px; // desktop grande
$lg: 1024px; // desktop normal
$md: 768px; // tablet
$sm: 576px; // celular grande
$xs: 320px; // celular pequeno

.labelError {
  font-family: var(--font-inter);
  color: var(--color-error);
  font-size: 0.875rem;
  font-weight: 200;
}
