@use "../global.scss" as *;

.page {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
  min-width: 100vh;
}

.container {
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  label {
    margin-bottom: 0.2rem;
  }

  > form {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.logoTrainee {
  border-radius: 0.4rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: var(--color-text);
  font-weight: bold;
}

.subtitle {
  font-size: clamp(1rem, 2vw, 1rem);
  color: #726767;
  text-align: center;
}

.nameTrainee {
  text-align: center;
  font-family: var(--font-handjet);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-text);
}

.image {
  width: 680px;
  height: auto;
  position: relative;
}

.imageLogin {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-primary-dark);
  overflow: hidden;
}

.imageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoName {
  color: var(--color-bg);
  font-family: var(--font-handjet);
  font-weight: 400;
  font-size: 1.5rem;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;

  a {
    color: var(--color-text-secondary);
    font-size: 0.875rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text-secondary);
  padding: 1.5rem 0;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--color-text-secondary);
  }

  span {
    padding: 0 10px;
  }
}

.createAccount {
  text-align: center;
  margin-top: 1rem;
}

.link {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  text-decoration: none;
  font-weight: 400;

  text-align: center;

  span {
    color: var(--color-accent);
  }

  &:hover {
    text-decoration: underline;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

@media (max-width: $md) {
  .imageLogin {
    display: none;
  }

  .container {
    max-width: none;
    width: 100%;
    padding: 0.8rem 1rem;
  }

  .page {
    grid-template-columns: 1fr;
  }
}

@media (max-width: $lg) {
  .container {
    max-width: none;
    width: 100%;
    padding: 0.8rem 1rem;
  }
  .image {
    width: 500px;
    height: auto;
  }
}
