@use "../../styles/global.scss" as *;

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.imageLogin {
  //   width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-primary-dark);
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;

  a {
    color: var(--color-text-secondary);
    font-size: 0.875rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text-secondary);

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--color-text-secondary);
  }

  span {
    padding: 0 10px;
  }
}

.link {
  margin-top: 1rem;
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  text-decoration: none;

  span {
    color: var(--color-accent);
    font-weight: bold;
  }

  &:hover {
    text-decoration: underline;
  }
}
